* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.autocompelete-items {
    padding: .5em;
}

.autocompelete-items:hover {
    color: #323232;
}

body, html {
    height: 100%;
    font-family: sans-serif;
}

.button, .comic-page-btn, .character-page-btn{
    padding: 15px;
    border-radius: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.btn-close {
    transform: translate(520px, 5px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
    cursor: pointer;
}

.comicTitle {
    margin-top: 20px;
}

.comic-name{
    max-width: 200px;
}

.comic-page-comic-name, .trending-comics-name {
    width: 100px;
}

.comic-name, .comic-page-name, .comic-page-comic-name, .trending-comics-name {
    padding: 0.5em 0 0.8em 0;
    color: grey;
    text-transform: uppercase;
    font-size: .7em;
    font-weight: 600;
}

.comic-inserttext, .landingInsert-Text {
    color: white;
    text-transform: uppercase;
}

.comic-page-name {
    max-width: 120px;
    justify-content: center;
    padding: 10px;
}

.comic-container {
    text-align: center;
}

.comic-container img {
    padding: 0.5em;
    height: 11em;
    width: auto;
    cursor: pointer;
}

.comic-page-input-container, .character-input-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}

.comics-page-feature {
    width: 100%;
    max-width: 800px;
    padding: 0 100px 100px 100px;
    margin: 0 auto;
    margin-top: 10px;
}

.comic-page-results-container {
    display: flex;
    width: 500px;
}

.comic-page-character-img {
    display: flex;
    margin: auto;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 0.5em;
    justify-content: center;
    margin-top: 30px;
}

.comic-page-character-description {
    text-align: justify;
    color: grey;
    font-weight: 300;
    line-height: 1.2em;
    margin-left: 10px;
}

.character-description, .character-specifics {
    text-align: justify;
    color: grey;
    line-height: 2em;
    font-weight: 300;
}
.character-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.charcter-page-display-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-page-name {
    padding: 0.5em 0 0.8em 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: 600;
    margin: 5px;
}

.character-page-description {
    color: white;
    line-height: 1.2em;
    font-weight: 300;
    margin: 10px;
}

.comic-page-img-container img {
    height: 11em;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
}

.character-specifics {
    margin-top: 10px;
    font-weight: 600;
    text-align: center;
}

.container-character-img {
    background-color: #ffffff;
    padding: 0.5em;
    height: 9.37em;
    width: 9.37em;
    display: block;
    margin: auto;
    border-radius: 50%;
}

.container-character-img img {
    width: 100;
    position: relative;
    border-radius: 50%;
}

/* .comic-page-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.comic-page-comic-container {
    display: flex;
    flex-wrap: wrap;
}

.comic-page-comic-container img {
    height: 11em;
}

.comic-page-comicTitle {
    text-align: center;
    color: #323232;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.5em 0 0.8em 0;
}

.comic-page-character-name {
    text-align: left;
    color: #323232;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.5em 0 0.8em 0;
    margin: 10px;
}
.character-name, .comicTitle, .thor-feature-title {
    padding: 0.5em 0 0.8em 0;
    text-align: center;
    color: #323232;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
}

.comic-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.credentials-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 180px ;
}

.credentials-container input {
    width: 100%;
    margin: 10px 0;
    padding: 6px 12px; 
}

.credentials-container input[type="submit"] {
    cursor: pointer;
}

.display-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
    padding: 1em;
}

.features-container {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.feature-characters{
    margin: 4px;
    margin-bottom: 10px;
}

.flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    border: 1px solid #f1f1f1;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #323232;
    color: white;
    overflow: scroll;
    
    transform: rotateY(180deg);
}

.flip-card-front img {
    height: 13em;
}

footer {
    /* position: absolute;
    bottom: 0;
    width: 100%; */
    padding: 15px;
    background-image: linear-gradient(
        to top,
        rgba(2, 2, 39, .80),
        rgba(88, 220, 240, 0.464));
}

footer img {
    height: 50px;
}

header {
    padding: 18px;
    background-image: linear-gradient(
        to bottom,
        rgba(2, 2, 39, .80),
        rgba(88, 220, 240, 0.464)), url("img/buildings.png");
}

header img {
    height: 50px;
}

.hero-img-container-comics {
    padding: 10em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("/img/marvel-comics-banner.png");
}

.hero-img-container {
    padding: 10em;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("/img/character-hero-img.png");
}

.hero-img-container, .hero-img-container-comics {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text, .hero-text-comics {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
}

.hidden {
    display: none;
}

h3 {
    padding: 0;
}

input {
    padding: 5px;
    padding-bottom: 2px;
    line-height: 2;
    border: none;
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #323232;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    outline: none;
}

.input-container {
    justify-content: center;
}

.imgComicInsert {
    margin-top: 5%;
    padding: 8em;
    background-image: url("img/daredevil-comic-insert.png");
}

.landing-caption-comics {

    color: white;
    margin-top: 4px;
    margin: 0;
    font-weight: 600;
    position: relative;
    text-decoration: none;
}


.landing-caption {
    text-transform: uppercase;
    font-size: 1.2rem;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    position: relative;
}

.landing-caption::after, .landing-caption-comics::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

.landing-caption:hover::after, .landing-caption-comics:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.landingInsert {
    padding: 10em;
    padding: 7em;
    background-image: linear-gradient(
        to bottom,
        rgba(2, 2, 39, .80),
        rgba(88, 220, 240, 0.464)), url("img/landingInsert-img.png");
}

.list {
    width: 90%;
    color: grey;
    display: flex;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
    z-index: 1;
    margin-top: 6px;
}

main {
    flex: 1;
    background-image: url("img/comicbook_background.png");
}

.modal-section {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 600px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 50%;
    left: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
}

.modal-section .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-content {
    display: flex;
}

.modal-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-image {
    display: flex;
    height: 14em;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
}

.modal-description p {
    margin: 0;
    padding: 0;
}

.modal-description, h3 {
    padding: 0.5em 0 0.8em 0;
    color: #323232;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 10px;
}

.modal-publish-info {
    margin-left: 10px;
    margin-bottom: 10px;
}

.modal-publish-info h3 {
    margin-left: 0;
}

.modal-price-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.modal-buy-now-button {
    padding: 10px;
    border: none;
    font: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10%;
    cursor: pointer;
}

.modal-price-info p {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 24px;
}

nav a:hover {
    color: #cd1d92;
}

nav a:first-of-type {
    flex: 1;
    margin-left: 0;
}

nav img {
   height: 50px;
}

.notice {
    background-color: #323232;
    margin-bottom: 0;
    padding: .7em;
}

.notice p {
    margin-top: 6px;
    text-align: center;
    font-size: 1.2rem;
    color: white;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

p {
    margin-top: 0;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 10px;
}

.landing-comics-container {
    display: flex;
    overflow: scroll;
    margin: 4px;
}

#page-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.search-icon {
    text-align: center;
}

#search-icon {
    max-height: 5vh;
}

.search-container {
    width: 100%;
    max-width: 700px;
    padding: 100px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}

.show-comics {
    display: flex;
    padding: 1em;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.spotlight-character, .feature-characters {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.spotlight-character {
    margin: 20px 20px 0 20px;
}

.trending-characters-title, .featuredCharacterTitle {
    padding: 0.5em 0 0.8em 0;
    text-align: center;
    color: #323232;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 600;
    margin-top: 5%;
}

.thor-feature-title {
    font-size: 1em;
    text-align: left;
}

.thor-description-container div {
    display: flex;
    text-align: justify;
    color: grey;
    line-height: 1.5em;
    font-weight: 300; 
}

.thor-description-container {
    padding-top: 35px;
}

.thor-feature {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 50px;
}

.thor-stats {
    margin-top: 15px;
    justify-content: center;
}

.thorImg-comics-page {
    height: 14em;
    border-radius: 50%;
    text-align: right;
    margin: 20px;
}

.thor-character-feature {
    display: flex;
}

.trending-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.trending-comic-img-container {
    margin: 10px;
}

.trending-comic-img-container img {
    height: 13em;
    cursor: pointer;
}

.trending-comics-title {
    padding: 0.5em 0 0.8em 0;
    text-align: center;
    color: #323232;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 600;
    margin-top: 5%;
}

@media (max-width: 60em) {
    
    .btn-close {
        transform: translate(400px, 5px);
        padding: 0.5rem 0.7rem;
        background: #eee;
        border-radius: 50%;
        cursor: pointer;
    }

    .character-specifics {
        text-align: center;
    }

    .comic-page-container {
        gap: 10px;
    }

    .comic-page-img-container img {
        justify-content: center;
        margin: 10px;
        margin-bottom: 0;
        height: 16em;
    }

    .comic-page-name {
        max-width: 200px;
        text-align:  center;
    }

    .comic-name {
        max-width: 300px;
    }

    .container-comic-img img {
        height: 17em;
    }

    .comic-page-results-container {
        flex-direction: column;
    }

    .comic-page-character-img {
        height: 15em;
    }

    .comic-page-character-name {
        text-align: center;
    }

    .display-container {
        flex-direction: column;
    }

    .search-container {
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .input-container {
        display: flex;
    }

    .modal-section {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        width: 480px;
        padding: 1.3rem;
        min-height: 250px;
        position: absolute;
        top: 230%;
        left: 9%;
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 15px;
        z-index: 2;
    }

    .show-comics {
        margin-left: 150px;
        margin-right: 150px;
    }

    .trending-container {
        flex-wrap: wrap;
    }

    .thor-feature-title {
        text-align: center;
    }

    .thor-character-feature {
        flex-direction: column;
    }

    .thor-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .thor-description {
        padding: 0;
    }

    .thor-stats {
        justify-content: center;
    }

    .thor-img-container img {
        height: 17em;
    }
}