<header> 

    <nav>
    
        ${
            home.map(nav => `
                <a class = "home-logo" href="${nav.href}"> <img src="${nav.img}" alt=""> </a>
            `).join(' ')
           }
       ${
        navs.map(nav => `
            <a class = "nav" href="${nav.href}">${nav.name}</a>
        `).join(' ')
       }
       ${
        search.map(search => `
            <a class = "search-icon" href="${search.href}"> <img id="search-icon" src="${search.img}" alt=""> </a>
        `).join(' ')
       }
    </nav>

</header>