<div class="hero-img-container">   
    <div class="hero-text">
        <h1>Marvel Characters</h1>
    </div>
</div>
<div class="spotlight-character" id="spotlight-character"> </div>

<div class="character-page-search-container"></div>
    <div class="character-input-container">
        <input class="character-page-input" id="character-page-input" type="text" placeholder="iron man, spider-man">
         <button class="character-page-btn" id="character-page-btn">Sumbit</button>
    </div>
    
    <div class="list" id="list"></div>
    <div class="display-container" id="show-container"></div>
    <div class="show-comics" id="show-comics"></div>
    </div>