
<div>
    <div class="hero-img-container">
        <div class="hero-text">
            <h1>Marvel Characters</h1>
        </div>
    </div>
    <div> </div>
    <div class='trending-characters-title' id="spotlight-character-title"> </div>
    <div class="spotlight-character" id="spotlight-character"> </div>
    
    <div class="character-page-search-container"></div>
        <div class="character-input-container">
            <input class="character-page-input" id="character-page-input" type="text" placeholder="search here...">
             <button class="character-page-btn" id="character-page-btn">Submit</button>
        </div>
    
        <div class="list character-list" id="character-page-list"></div>
        <div class="charcter-page-display-container" id="charcter-page-display-container"></div>
        <div class="show-comics" id="character-page-show-comics"></div>
    </div>

    <div class="comic-page-modal hidden" id="character-page-modal">
    <div class="overlay hidden" id="overlay"></div>
</div>

