<div class="hero-img-container-comics">   
    <div class="hero-text-comics">
        <h1>Marvel Comics</h1>
    </div>
</div>
<div class = "trending-comics"> </div>

<div class="comic-page-input-container">
<input class= "comic-page-input" type="text" id="comic-page-input" placeholder="type here"/>
<button class="comic-page-btn" id="comic-page-btn">Sumbit</button>
</div>
<div class="list" id="list"></div>
    <div class="display-container" id="show-container"></div>
    <div class="show-comics" id="show-comics"></div>

<div class="comics-page-feature" id="comics-page-feature"></div>

<div class="comic-page-modal hidden" id="comic-page-modal">
<div class="overlay hidden" id="overlay"></div>
