<div class="notice"> <p>Stream Black Panther on Disney+ </p></div>
<div class="landingInsert">
    <div class="landingInsert-Text">
        <h1>Spolight Characters in Marvel</h1>
        <a href= "/character" class="landing-caption">Learn More </a>
    </div>
</div>
<div class="feature-characters" id="feature-characters"></div>

<div class="imgComicInsert" id="imgComicInsert">
    <div class="comic-inserttext">
        <h1> New Comics</h1>
        <h1>featuring Daredevil </h1>
        <a href="/comic" class="landing-caption-comics">Click here for more comics</a>
    </div>
</div>
<div class="popular-comics" id="popular-comics"></div>
<div class="landing-page-modal hidden" id="landing-page-modal">
<div class="overlay hidden" id="overlay"></div>

